---
import { getColor } from '@/lib/utilities/nums'

interface Props {
  sortedAfpsEntries: Array<[string, { comition: number }]>
}
const { sortedAfpsEntries } = Astro.props
const bestAfpComition = sortedAfpsEntries[0][1].comition
const worstAfpComition = sortedAfpsEntries[sortedAfpsEntries.length - 1][1].comition
---

<table style="max-width: 500px;">
  <tbody>
    {sortedAfpsEntries.map(([name, {comition}]) => {
      const color = getColor(bestAfpComition, worstAfpComition, comition, true)
      return (
        <tr>
          <td style={`border-left: 4px solid ${color};`}>{name}</td>
          <td style={`text-align: center; border-right: 4px solid ${color}; border-left: 4px solid ${color};`}>
            {comition.toString() + '%'}
          </td>
        </tr>
      )
    })}
  </tbody>
</table>
